config DRM_VPOUT
	tristate "DRM Support for ELVEES VPOUT Display Controller"
	depends on DRM && OF && ARM && HAVE_DMA_ATTRS
	select DRM_KMS_HELPER
	select DRM_KMS_FB_HELPER
	select DRM_KMS_CMA_HELPER
	select DRM_GEM_CMA_HELPER
	select VIDEOMODE_HELPERS
	select BACKLIGHT_CLASS_DEVICE
	select BACKLIGHT_LCD_SUPPORT
	help
	  Choose this option if you have an ELVEES SoC with VPOUT Display
	  Controller.
